<div class="px-4 py-5 my-5 text-center">
  <div class="d-block mx-auto mb-4">
    <div class="logo">PRIORITIZR</div>
    <h1 class="display-5 fw-bold text-body-emphasis mb-4">The ultimate productivity tool</h1>
    <div class="col-lg-6 mx-auto">
      <div class="lead mb-4">
        <p>Tired of feeling overwhelmed by your to-do list? <strong class="logo logo--small">PRIORITIZR</strong> helps you stay on top of your tasks and prioritize what's most important. </p>
        <p>With its simple, user-friendly design and powerful features, <strong class="logo logo--small">PRIORITZR</strong> is the perfect tool for busy professionals who want to be more productive and efficient. </p>
        <p>Whether you're working on a big project or just trying to stay organized, <strong class="logo logo--small">PRIORITZR</strong> helps you focus on what matters most and achieve your goals. </p>
        <p>Try <strong class="logo logo--small">PRIORITZR</strong> today and take control of your to-do list!</p>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="['/', 'to-do']">Try it now</button>
        <button class="btn btn-outline-secondary btn-lg px-4" [disabled]="true">Sign up to waitlist</button>
      </div>
    </div>
  </div>
</div>
